 /* === BLOCO 1 === */

.block1{
    align-items: center;
    width: 940px;
    height: 366px;
    margin: 0 15px;
    background: #FBDFDB;
    border-radius: 8px;
    display: flex;
    
}

.block1 img{
    margin: 10% ;
    width: 216px;
    height: 300px;
}

.textos{
    margin: 10% ;
}

.textos p{
    
    height: 84px;
    width: 316px;
    font-size: 18px;
    opacity: 70%;
}


 /* === BLOCO 2 === */


.block2{
margin: 50px 15px;    
}




.block2 .cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;   
}

.card{
    margin: 20px;
}

.card img{
    width: 300px;
    height: 140px;
    border-radius: 15px;
}

.card h3{
    font-size: 18px;
}

.card p{
    font-size: 14px;
    color: #777777;
}